header {
    margin-bottom: 4em;
}

.headerBg {
    margin-top: -3rem;
}

.headerBg img {
    display: block;

    width: 100%;
}

.logoContacts {
	background:    -moz-linear-gradient(left, rgb(10,43,88) 0%, #0172E6 100% );
    background: -webkit-linear-gradient(left, rgb(10,43,88) 0%, #0172E6 100% );
    background:      -o-linear-gradient(left, rgb(10,43,88) 0%, #0172E6 100% );
    background:     -ms-linear-gradient(left, rgb(10,43,88) 0%, #0172E6 100% );
    background:         linear-gradient(left, rgb(10,43,88) 0%, #0172E6 100% );


    display: flex;

    margin-top: 1em;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.tel,
.mail, 
.logo {
    z-index: 2;
    width: 25%;
}

.logo {
	padding: 0.3em 0.7em;
}

.contDes {
    color: #B1B1B1;
}

.tel:hover, .mail:hover {
	color: #B1B1B1;
}

.tel,
.mail {
    font-size: 1.4rem;

    text-align: center;
    text-decoration: none;

    color: white;
}

/*.logo {
	border-radius: 2em;
	padding: 0.5em 1em;
	background: rgb(10,43,88);
}*/

.logo img {
    width: 100%;
} 


/*  mini navy  */

.menuWrapper {
	display: none;
	position: relative;
}

.menuMini {
	position: fixed;
	right: 0;
	top: 25vh;
	width: 40%;
	height: 40vh;
	z-index:99;
	background: rgba(10,43,88,0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	transform-origin: right bottom;
	transform: translateX(100%);
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.menuMiniActive {
	transform: translateX(0%);
}

.menuList {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 85%;
	flex-direction: column;
}

.menuList a {
	color: rgba(256,256,256,0.7);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.3rem;
}

.menuBtn {
	transition: 0.7s;
	transform: translateX(0);
	opacity: 0.8;
	width: 46px;
	height: 46px;
	background-color: rgb(10,43,88);
	position: absolute;
	left: -50px;
	top: 2px;
	border-radius: 50%;
}

.menuBtn div,
.menuBtn div::before,
.menuBtn div::after {
	position: absolute;
	background: rgb(256,256,256);
	width: 24px;
	height: 2px;
	top:50%;
	left: 50%;
	border-radius: 1px;
	margin-left: -12px;	
	margin-top: -1px;
}

.menuBtn div::before,
.menuBtn div::after {
	content: '';
	display: block;
	transition: 0.5s;
}

.menuBtn div::before {
	transform: translateY(-6px);
}

.menuBtn div::after {
	transform: translateY(6px);
}

.menuMiniActive .menuBtn {
	background: none;
	transition: 0.9s;
	transform: translateX(42vw);
	opacity: 1;
}

.menuMiniActive .menuBtn div {
	height: 0;
}

.menuMiniActive .menuBtn div::after {
	background-color: white;
	transform: rotate(-45deg);
}

.menuMiniActive .menuBtn div::before {
	background-color: white;
	transform: rotate(45deg);
}

/* navy */

.nav {
    display: flex;

    width: 100%;
    height: 2.5em;

    background-color: #0a2b58;

    justify-content: center;
    align-items: center;
}

.nav a {
    font-size: 1.3rem;

    width: 19%;
    height: 2.5rem;

    text-align: center;
    text-decoration: none;

    color: white;
}

.nav p {
    margin-top: 7px;
}

.nav a:hover,
.homePage .homeButton,
.katalogPage .katalogButton,
.aboutPage .aboutButton,
.productionPage .productionButton,
.contactsPage .contactsButton {
    color: #0a2b58;
    font-weight: 550;
    background: white;
    background:    -moz-linear-gradient(top, white 0%, white 50%, #F5F5F5 51%,#F5F5F5 100% );
    background: -webkit-linear-gradient(top, white 0%, white 50%, #F5F5F5 51%,#F5F5F5 100% );
    background:      -o-linear-gradient(top, white 0%, white 50%, #F5F5F5 51%,#F5F5F5 100% );
    background:     -ms-linear-gradient(top, white 0%, white 50%, #F5F5F5 51%,#F5F5F5 100% );
    background:         linear-gradient(top, white 0%, white 50%, #F5F5F5 51%,#F5F5F5 100% );
}